.li_currency
{
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}
.li_currency:hover
{
    background: rgba(23, 20, 31, 0.71);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield;
}

.list-group
{
    max-height: 300px;
    overflow: scroll;
}

.inputValue
{
    width: 100%;
    max-width: 65%;
}